p {
    text-align: center;
    margin-bottom: 30px;
}

button {
    padding: 10px;
    margin: auto;
    font-size: 30px;
    border-radius: 10px;
    background-color: #00acf7;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

.center {
    margin: auto;
    width: 50%;
    height: 50%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;

}

body {
    text-align: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

select[name="cat"] {
    font-size: 30px;
    color: #333;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    padding: 5px;
}

#carNamesText{
    font-size: 45px;
    font-family:'Courier New', Courier, monospace;

}

#displayText{
    font-size: 25px;
    font-family: "Gill Sans Extrabold", sans-serif;

}

footer {
    background-color: rgb(17, 81, 134);
    color: white;
    padding: 13px;
    position: absolute;
    left: 0;
    right: 0;
}
a { color: inherit; } 