p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

button {
    padding: 10px;
    margin: auto;
    font-size: 30px;
    border-radius: 10px;
    background-color: #00acf7;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

.center {
    margin: auto;
    width: 50%;
    height: 50%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;

}

body {
    text-align: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

select[name="cat"] {
    font-size: 30px;
    color: #333;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    padding: 5px;
}

#carNamesText{
    font-size: 45px;
    font-family:'Courier New', Courier, monospace;

}

#displayText{
    font-size: 25px;
    font-family: "Gill Sans Extrabold", sans-serif;

}

footer {
    background-color: #115186;
    color: white;
    padding: 15px;
    position: absolute;
    left: 0;
    right: 0;
}
a { color: inherit; } 

.pattern {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -99;
    top: 0;

    background-color: #e5e5e5;
    opacity: 0.65;
    background: radial-gradient(circle, transparent 20%, #e5e5e5 20%, #e5e5e5 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5e5 20%, #e5e5e5 80%, transparent 80%, transparent) 100px 100px, linear-gradient(#115186 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #115186 8px, #e5e5e5 8px) -4px 0;
    background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
  }