a { color: inherit; } 
#imageContainer {transition: transform 0.5s ease-in-out;}

div{min-height: 50vh;}
#carNamesText{
    font-size: 1.7rem;
    font-weight: 100;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
             1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}
#displayText{
    font-size:1.4rem;
    font-style: oblique;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

html{
    text-align: center;
    background-color: darkgray;
    font-family: 'Roboto', sans-serif;

    color: white;
}
#imageContainer{
    width: 30%;
    height: auto;
}

#imageContainer2 {
    max-width: 40%; 
    max-height: auto;
}

footer {
    background-color: rgb(17, 81, 134);
    color: white;
    padding: 13px;
    position: absolute;
    left: 0;
    right: 0;
}

#rotate-button {
    background-color: #ff2800;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

@media only screen and (orientation: portrait)  {
    #imageContainer{
        width: 80%;
        height: auto;
    }
    
    #imageContainer2 {
        max-width: 80%; 
        max-height: auto;
    }

    #rotate-button{
        font-size: 30px;
    }
}

.pattern {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -99;
    top: 0;

    background-color: #e5e5e5;
    opacity: 0.65;
    background: radial-gradient(circle, transparent 20%, #e5e5e5 20%, #e5e5e5 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5e5 20%, #e5e5e5 80%, transparent 80%, transparent) 100px 100px, linear-gradient(#115186 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #115186 8px, #e5e5e5 8px) -4px 0;
    background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
  }