  #imageContainer {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  #title { font-size: 38px;}
  
  #author { font-size: 24px;}

  /* Center all content */
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  /* Style select boxes */
  select {
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
  }
  
  /* Style generate button */
  button {
    padding: 10px;
    margin: auto;
    font-size: 30px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
  }
  